html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.col-md-6.col-md-offset-2 section {
    visibility:hidden;
}

.form-floating {
    margin-bottom: 20px;
}


#forgot-password, #resend-confirmation, a[href="/Identity/Account/Register?returnUrl=%2F"] {
    visibility: hidden;
}

