<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/12569b77-c701-46e0-a8a6-071581aeb39c/resourceGroups/ThesisProjects/providers/Microsoft.Web/sites/abad-norella-ph</ResourceId>
    <ResourceGroup>ThesisProjects</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://abad-norella-ph.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>81121edb-c6a3-4352-b617-19243685654b</ProjectGuid>
    <PublishUrl>https://abad-norella-ph.scm.azurewebsites.net/</PublishUrl>
    <UserName>$abad-norella-ph</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>