        <!-- ======= Pricing Section ======= -->
<section id="pricing1" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Pricing</h2>
            <p>Gusto mo bang magkalisensya ng lehitimo, nasa tamang proseso at makamasang diskwento? Sa Abad-Norella Driving School alaga kana siguradong discounted kapa!</p>
        </div>

        <div class="row">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Theoretical Driving Course</h3>
                    <h4><sup>&#8369;</sup>1350</h4>
                    <ul>
                        <li>Photocopy of Birth Certificate</li>
                        <li>Photocopy of 1 Valid ID</li>
                        <li>1x1 Picture (1pc)</li>
                        <li>Any of the Following:</li>
                        <ul>
                            <li>- Barangay Clearance</li>
                            <li>- National ID</li>
                            <li>- NBI Clearance</li>
                        </ul>
                    </ul>
                    <a href="/Products#pricing" class="buy-btn">Get Started</a>
                </div>
            </div>

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Practical Driving Course</h3>
                    <h4><sup>&#8369;</sup>2700</h4>
                    <ul>
                        <li>Photocopy of Birth Certificate</li>
                        <li>Photocopy of 1 License</li>
                        <li>1x1 Picture (1pc)</li>
                        <li>Any of the Following:</li>
                        <ul>
                            <li>- Barangay Clearance</li>
                            <li>- National ID</li>
                            <li>- NBI Clearance</li>
                        </ul>
                    </ul>
                    <a href="/Products#pricing" class="buy-btn">Get Started</a>
                </div>
            </div>


            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Sample Combo Course</h3>
                    <h4><sup>&#8369;</sup>8800</h4>
                    <ul>
                        <li><i class="bx bx-check"></i> A (Motorcycle)</li>
                        <li><i class="bx bx-check"></i> A1 (Tricycle)</li>
                        <li><i class="bx bx-check"></i> B (Light Passenger Car)</li>
                        <li><i class="bx bx-check"></i> B1 (Jeepney and Passenger Van)</li>
                        <li><i class="bx bx-check"></i> B2 (Light Commercial Vehicle)</li>
                    </ul>
                    <a href="/Products#pricing" class="buy-btn">Get Started</a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->