@page "/payment"

@model FrontEnd.Pages.PaymentModel

@{
    ViewData["Title"] = "Payment";
}

<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Order Summary</h2>
        </div>
        <div class="row">
            <div class="col-md-4 offset-4">
                <div class="form-group">
                    <h4>Course: @Model.Enrollment.Course.Name</h4>
                </div>
                <div class="form-group">
                    <h4>Duration: @Model.Enrollment.Course.Hours hrs</h4>
                </div>
                <div class="form-group">
                    <h4>Schedule: @Model.Schedule.StartDate.ToString("MMM dd, yyyy")</h4>
                </div>
                <div class="form-group">
                    <h4>Amount Due: &#8369;@Model.Enrollment.Course.Price</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            GCash Payment
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Please enter the GCash payment reference number below for validation amounting to &#8369;@Model.Enrollment.Course.Price</strong> <br /><br /><br />

                            <form id="payFormGcash" asp-page-handler="gcash" method="post">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label>Payment Reference</label>
                                            <input type="text" asp-for="PaymentReference" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-4">
                                        <input type="submit" value="SUBMIT" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Credit/Debit Card Payment
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-4 offset-4">
                                    <div id="dropin-container"></div>
                                    <br />
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <form id="payForm" method="post">
                                        <div class="row">
                                            <input type="button" id="btnConfirm" value="PURCHASE" class="btn btn-primary" />
                                            <input type="hidden" asp-for="ClientToken" />
                                            <input type="hidden" asp-for="Nonce" />
                                            <input type="hidden" asp-for="EnrollmentId" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>



@section Scripts {

    <script src="https://js.braintreegateway.com/web/dropin/1.33.4/js/dropin.min.js"></script>
    <script>
        braintree.dropin.create({
            // Step three: get client token from your server, such as via
            //    templates or async http request
            authorization: '@Model.ClientToken',
            container: '#dropin-container'
        }, (error, dropinInstance) => {
            document.getElementById('btnConfirm').addEventListener('click', function () {

                dropinInstance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                    document.getElementById("Nonce").value = payload.nonce;
                    document.getElementById("payForm").submit();

                });
            });

            // Use `dropinInstance` here
            // Methods documented at https://braintree.github.io/braintree-web-drop-in/docs/current/Dropin.html
        });
    </script>
}