<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/12569b77-c701-46e0-a8a6-071581aeb39c/resourceGroups/Thesis/providers/Microsoft.Web/sites/abad-norella</ResourceId>
    <ResourceGroup>Thesis</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://abad-norella.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9480abbf-091b-4093-9a55-d298b883f677</ProjectGuid>
    <PublishUrl>https://abad-norella.scm.azurewebsites.net/</PublishUrl>
    <UserName>$abad-norella</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>